*{
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}
body{
    background: #ededed;
}

.contenedor-actividades{ 
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    list-style: none;
	padding: 20px;
	margin: auto;   

}

.contenedor-de-fotos{
    display: flow-root;
    text-align: center;
}
.producto-small-img img{
    width: 100%; 
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 8px;
    margin: 10px 10px 15px;
    cursor: pointer;
    
    }
    
    

.producto-small-img {
    width: 12%;
    display: flex;
    margin: auto;
   
  }


.img-container img{
    height: 500px;
    width: 60%; 
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 8px;
    margin: 10px 10px 15px;
    cursor: pointer;}
 
    
.contenido-textos h3{
    margin-bottom: 15px;}

.contenido-textos h3 samp{
    background: rgb(30, 116, 196);
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 6px;
   
}

.contenido-textos p{
    padding: 0px 0px 40px 40px;
    font-weight: 600;
    text-align: justify;
    min-width: 250px;

}

table{
    background-color: white;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
th,td{
    padding: 20px;
}
thead{
    background-color:rgb(30, 116, 196) ;
    border-bottom: solid 5px #0f352d;
    color: white;
}
tr:nth-child(even){
background-color: #ddd;

}
tr:hover{
    background-color: rgb(30, 116, 196);
    color: white;
}
.titulo{
    text-align: center;
}

