/*ESTILOS DE FILTROS E IMAGENES DE DEPORTES*/

/*FILTROS -------------------------------*/
 
.filtro_deporte {   
    display: flex;
}

.filtros {
    display: flex;
    flex-direction: column;
    width: 15%;
}  
 
.navbar .filtros .menu_filtro .categoria {
    display: block;
    width: 90%;
    padding: 5px 0;
    margin-bottom: 20px;
    border-radius: 5px; 
     text-decoration: none;
   
    background: #00AF91;
    text-align: center;
    color: #000000;
}

.filtros .filtro_activo {
    background: #6666ff;
}
/*DEPORTES -----------------------------*/
.todos_deportes {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

.todos_deportes .deporte {
    width: 30%;
    margin-left: 3%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;

    transition: all 0.4s;
}

.todos_deportes .deporte .img {
    width: 100%;
}

.todos_deportes .deporte a {
    display: block;
    width: 100%;
    padding: 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #F58634;
    color: #000000;
    text-align: center;
    text-decoration: none;
}


/*******VER QUE ONDA*******/
:root { /*son variables */
    --dark: #F58634;
    --dark-x: #F58634;  
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 8 rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.img-1 {
  /*  background-image: url('logo_ALE.png');*/
    background-size: cover;
    background-position: center;
}

.img-2 {
   /* background-image: url('img-2.jpg');*/
    background-size: cover;
    background-position: center;
}
#Img_logo{
	width: 15%;
	border-right-width: 0px;
}

.mb-5 .form-label{
  color: #e6ffe6;
}
