{% extends "plantilla_base.html" %} <!--Para que herede del padre-->

 {% block content%}  <!--contenido del hijo variable-->
 <main class="main"> 

	<!---cajas con flex---> 
	<div class="contenedor-disciplinas">
	   <div class="content-caja">
		   <h3><a href="#">Pakur</a></h3>
		   <img alt="Independence Day" src="\static\imagenes\extremo\parkur.png" class="i_disciplina" />
		   <p> 🔵 Practica Pakur🤸🏻 @poli_alcoba
			    Entrena en Pkur💪🏻
			   📍xxxxxxxxxxxxxxxxxxx
			   📲Cel: 3884588030</p>
			   <div class="social">
				   <ul>
					   <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				   </ul>
			   </div>
	   </div>
	   <div class="content-caja">
		   <h3><a href="#">Montañismo</a></h3>
		   <img alt="Independence Day" src="\static\imagenes\extremo\montañismo.jpg" class="i_disciplina" />
		   <p>🔵Practica Montañismo @poli_alcoba
			   Entrena en montañismo💪🏻
			   📍xxxxxxxxxxxxxx
			   📲Cel: 3884588030</p>
			   <div class="social">
				   <ul>
					   <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				   </ul>
			   </div>
	   </div>
	   <div class="content-caja">
		   <h3><a href="#">Rappel</a></h3>
		   <img alt="Independence Day" src="\static\imagenes\extremo\rappel.jpg" class="i_disciplina" />
		   <p>🔵 Entrena en Rappel @poli_alcoba
			   🏋️‍♂️ Entrenamiento de Rappel 💪🏻
			   📍xxxxxxxxxxxxxx
			   📲Cel: 3884588030</p>
			   <div class="social">
				   <ul>
					   <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				   </ul>
			   </div>
	   </div>
	   <div class="content-caja">
		   <h3><a href="#">Trekking</a></h3>
		   <img alt="Independence Day" src="\static\imagenes\extremo\trekking.png"  class="i_disciplina"/>
		   <p>🤸🏻 🔵Practica Trekking @poli_alcoba
			   Entrenamiento de Trekking 💪🏻
			   📍xxxxxxxxxx
			   📲Cel: 3884588030</p>
			   <div class="social">
				   <ul>
					   <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				   </ul>
			   </div>
	   </div>
   </div>  
   <!---cajas con flex---> 
	<div class="contenedor-disciplinas">
		<div class="content-caja">
			<h3><a href="#">Pakur</a></h3>
			<img alt="Independence Day" src="\static\imagenes\extremo\parkur.png" class="i_disciplina" />
			<p> 🔵 Practica Pakur🤸🏻 @poli_alcoba
				 Entrena en Pkur💪🏻
				📍xxxxxxxxxxxxxxxxxxx
				📲Cel: 3884588030</p>
				<div class="social">
					<ul>
						<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
					</ul>
				</div>
		</div>
		<div class="content-caja">
			<h3><a href="#">Montañismo</a></h3>
			<img alt="Independence Day" src="\static\imagenes\extremo\montañismo.jpg" class="i_disciplina" />
			<p>🔵Practica Montañismo @poli_alcoba
				Entrena en montañismo💪🏻
				📍xxxxxxxxxxxxxx
				📲Cel: 3884588030</p>
				<div class="social">
					<ul>
						<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
					</ul>
				</div>
		</div>
		<div class="content-caja">
			<h3><a href="#">Rappel</a></h3>
			<img alt="Independence Day" src="\static\imagenes\extremo\rappel.jpg" class="i_disciplina" />
			<p>🔵 Entrena en Rappel @poli_alcoba
				🏋️‍♂️ Entrenamiento de Rappel 💪🏻
				📍xxxxxxxxxxxxxx
				📲Cel: 3884588030</p>
				<div class="social">
					<ul>
						<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
					</ul>
				</div>
		</div>
		<div class="content-caja">
			<h3><a href="#">Trekking</a></h3>
			<img alt="Independence Day" src="\static\imagenes\extremo\trekking.png"  class="i_disciplina"/>
			<p>🤸🏻 🔵Practica Trekking @poli_alcoba
				Entrenamiento de Trekking 💪🏻
				📍xxxxxxxxxx
				📲Cel: 3884588030</p>
				<div class="social">
					<ul>
						<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
					</ul>
				</div>
		</div>
	</div>  
   </main>
 {% endblock%}
