  {% extends "plantilla_base.html" %} <!--Para que herede del padre-->
 
 {% block content%}  <!--contenido del hijo variable-->

 <main class="main"> 

 <!---cajas con flex---> 
 <div class="contenedor-disciplinas">
	<div class="content-caja">
		<h3><a href="{% url 'yoga' %}">YOGA</a></h3>
		<img alt="Independence Day" src="\static\imagenes\disciplina\yoga.jpg" class="i_disciplina" />
		<p>🤸🏻 ⚪️Yoga 🤸🏻 @poli_alcoba
			Entrenamiento Funcional 💪🏻
			📍xxxxxxxxxx
			📲Cel: 3884588030</p>
			<div class="social">
				<ul>
					<li class="google-plus" style="width:33%;"><a href="https://medlineplus.gov/spanish/ency/patientinstructions/000876.htm"><span class="fa fa-globe"></span></a></li>
				</ul>
			</div>
	</div>
	<div class="content-caja">
		<h3><a href="#">Golf</a></h3>
		<img alt="Independence Day" src="\static\imagenes\disciplina\golf.jpg" class="i_disciplina" />
		<p>⚪️Practica  Golf 
			 Entrenamiento  💪🏻
			📍xxxxxxxxxxxxx
			📲Cel: 3884588030</p>
			<div class="social">
				<ul>
					<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				</ul>
			</div>
	</div>
	<div class="content-caja">
		<h3><a href="#">PADEL</a></h3>
		<img alt="Independence Day" src="\static\imagenes\disciplina\padel.jpg" class="i_disciplina" />
		<p>⚪️ Practica Padel @poli_alcoba
			 Entrenamiento  💪🏻
			📍xxxxxxxxxxxxxxxx
			📲Cel: 3884588030</p>
			<div class="social">
				<ul>
					<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				</ul>
			</div>
	</div>
	<div class="content-caja">
		<h3><a href="#">Tenis de Mesa</a></h3>
		<img alt="Independence Day" src="\static\imagenes\disciplina\tenis_mesa.jpg"  class="i_disciplina"/>
		<p>⚪️ Practica tenis de Mesa
			 Entrenamiento  💪🏻
			📍xxxxxxxxxxx
			📲Cel: 3884588030</p>
			<div class="social">
				<ul>
					<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				</ul>
			</div>
	</div>
</div>  

 <!---cajas con flex---> 
 <div class="contenedor-disciplinas">
	<div class="content-caja">
		<h3><a href="#">APAG Gimnasia Artística</a></h3>
		<img alt="Independence Day" src="\static\imagenes\disciplina\tenis.jpg" class="i_disciplina" />
		<p>⚪️Tenis de Mesa  @poli_alcoba
			 Practica Tenis de Mesa  💪🏻
			📍xxxxxxxxxxxxxx
			📲Cel: 3884588030</p>
			<div class="social">
				<ul>
					<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				</ul>
			</div>
	</div>
	<div class="content-caja">
		<h3><a href="#">APAG Gimnasia Artística</a></h3>
		<img alt="Independence Day" src="\static\imagenes\disciplina\tenis.jpg" class="i_disciplina" />
		<p>⚪️Tenis @poli_alcoba
			Entrenamiento  💪🏻
			📍xxxxxxxxxxxxxxxxxx
			📲Cel: 3884588030</p>
			<div class="social">
				<ul>
					<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				</ul>
			</div>
	</div>
	<div class="content-caja">
		<h3><a href="#">Ejercicio Acuatico</a></h3>
		<img alt="Independence Day" src="\static\imagenes\disciplina\ejercicio_acuatico.jpg" class="i_disciplina" />
		<p>⚪️Ejercicio Acuatico@poli_alcoba
		    Entrenamiento 💪🏻
			📍xxxxxxxxxxxxxxx
			📲Cel: 3884588030</p>
			<div class="social">
				<ul>
					<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				</ul>
			</div>
	</div>
	<div class="content-caja">
		<h3><a href="#">APAG Gimnasia Artística</a></h3>
		<img alt="Independence Day" src="\static\imagenes\disciplina\ejercicio_acuatico.jpg"  class="i_disciplina"/>
		<p>⚪️Ejercicio Acuatico@poli_alcoba
		    Entrenamiento 💪🏻
			📍xxxxxxxxxxxxxxx
			📲Cel: 3884588030</p>
			<div class="social">
				<ul>
					<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-globe"></span></a></li>
				</ul>
			</div>
	</div>
</div>
</main>
<  {% endblock%}