{% extends "plantilla_base.html" %} 
{% block content%}  

<h1 id="Lista_usuarios">LISTA profesional</h1>
{% if lista_PROF %}
    <ul class="nro_usuarios">
    {% for Profesional in lista_PROF %}
        <li>{{Profesional.nombre}}</li>
        <li>{{Profesional.apellido}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay profesional cargados...</p>
{% endif %}

 
 <!--FUNCION CONTADOR VISTA
{% if lista_Usuarios %}
    <ul class="nro_usuarios">
    {% for Usuario in lista_Usuarios %}
        <li>{{Usuario.nombreCompleto}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay usuarios</p>
{% endif %}
-->
<!--
    
 <h1>Hola {{mail}} bienvenido </h1>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Nombre:</strong> {{ nombre }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
  
-->
{% endblock%}
