{% extends "baseAdmin.html" %} 
  
 {% block content%}
 <h2 class="text-center">Agregar una actividad</h2>
<div id=" ">

    <form action="" method="post" id="Formulario_Contacto">
        {% csrf_token%} 
        <div class="caja_contacto"> <label for="">DNI:</label> {{forms.dni_profesional}} </div>
        <div class="caja_contacto"> <label for="">nombre :</label> {{forms.nombre}}  </div>
        <div class="caja_contacto"> <label for="">epellido:</label> {{forms.apellido}}  </div>
        <div class="caja_contacto"><label for="">telefono:</label> {{forms.telefono}} </div>
        
        <div class="caja_contacto"><label for="">email:</label> {{forms.email}}         </div>
         
        <div class="text-center">
        <button  class="boton_contacto"  type="submit">Guardar </button>
        </div>
     </form>
</div>

 

 {% endblock%}