 {% extends "plantilla_base.html" %} <!--Para que herede del padre-->


 {% block content%}  <!--contenido del hijo variable-->
<div id="Imagen_Fondo_Nosotros">
<video src="\static\imagenes\videoAle.mp4" id="video_nosotros"></video>
<!--INFORMACION: OBJETIVO,ETC-->
<div class="container">
    <h1 class="text-center ">Nosotros </h1>
  <div class="row mt-5">
      <div class="text-center">
         <br><h2>QUIENES SOMOS</h2> 
            <p class="Nosotros-texto">Somos ALE, y nacimos en el 2021 como un sitio web, que apunta a diferenciarse en  
                crear un vínculo entre las personas y los establecimientos que brindan servicios de actividades, deportes
                 no convencionales, obteniendo como resultado la promocion de dichas actividades y deportes como asi 
                 tambien el bienestar fisico y mental de aquellas personas que realizaran las mismas.
                De a poco, con el paso del tiempo, vamos a ir sumando nuevas funciones y servicios y esperamos poder 
                traer novedades para uds en todo el año.
                Los invitamos a que recorran nuestra pagina y se sumen a esta movida..</p>
            <hr class="separador pb-lg-1"> <!--separador gris-->
            <p class="Nosotros-texto">Brindar servicios online sobre lugares para realizar actividades no convencionales
                en establecimientos o al aire libre cerca de la residencia del usuario, informar sobre la 
                disponibilidad de horarios, precios, tipo de actividad física, de eventos gratuitos.</p>
           <hr class="separador pb-lg-1"> <!--separador gris-->   
           <div class="imagen_nosotros">
            <img class="img-thumbnail img-fluid" src="\static\imagenes\logo.png" alt="">
        </div>                             
    </div> 
             
 </div>   
</div>
<!---->
<!--Servicios-->
<section id="servicios">
    <div class="container">
        <h1 class="text-center mt-5">Nuestros Servicios</h1>
    
      <div class="row mt-5">
          <div class="col-sm-12 col-md-4 text-center">
              <h2 class="mt-5"><i class="fas fa-paint-brush"></i><br> MISION</h2>
              <p class="mt-5"> 
                Mediante las nuevas tecnologías  ser  el  vínculo de información constante 
                entre las personas y las actividades frecuentemente no convencionales 
                (como disciplinas de artes marciales, tenis, padel, yoga, etc)  que promueven el bienestar 
                tanto  físico como  mental
              </p>
              <br>
               <button class="btn btn-info text-center mb-5"> Ver más <i class="fas fa-arrow-circle-right"></i> </button>
          </div>
    
          <div class="col-sm-12 col-md-4 text-center">
              <h2 class="mt-5"><i class="fas fa-search-dollar"></i><br> VISION</h2>
              <p class="mt-5"> 
                Se espera que el sitio tenga más funcionalidades, para atisfacer la necesidad 
                no solo de información, poder crear eventos más solicitados en regiones mas demandadas.
              </p>
              <br>
              <button class="btn btn-info text-center mb-5"> Ver más <i class="fas fa-arrow-circle-right"></i> </button>
          </div>
    
          <div class="col-sm-12 col-md-4 text-center">
              <h2 class="mt-5"><i class="fas fa-bullhorn"></i><br> VALORES</h2>
              <p class="mt-5">
                Compromiso con la salud. 
                Mitigar los prejuicios de realizar actividades no convencionales. 
                Respeto.
            </p>
              <br>
              <button class="btn btn-info text-center mb-5"> Ver más <i class="fas fa-arrow-circle-right"></i> </button>
          </div>
      </div>

    </div>
    </section>
    <!---->
    
    <!--IMAGENES-->
    
    <div class="cuerpo">   
        <div class="Seccion-nosotros">
            <section class="marcas">
                <div class="tarjeta">
                    <div class="thumbnail">
                        <img src="\static\imagenes\logo.png" alt="ale"  >
                    </div>
                    <div class="tarjeta-content">
                        <h2>ALE</h2>
                    </div>    
                </div>
                <div class="tarjeta">
                    <div class="thumbnail">
                        <img src="\static\imagenes\logo.png" alt="ale"  >
                    </div>
                    <div class="tarjeta-content">
                        <h2>ALE</h2>
                    </div>    
                </div>
                <div class="tarjeta">
                    <div class="thumbnail">
                        <img src="\static\imagenes\logo.png" alt="ale"  >
                    </div>
                    <div class="tarjeta-content">
                        <h2>ALE</h2>
                    </div>    
                </div>
            </section>
        </div>   
        </div>
    <!--Testimonios-->
    
    <section id="testimonios">
    <div class="container mb-5">
        <h1 class="text-center mt-5">Testimonios</h1>
        <div class="row mt-5">
            <div class="col-sm12 col-md-6 text-center">
                <div class="card">
                    <div class="card-body">
                        <p class="mt-5">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta est laudantium quidem adipisci reiciendis sed minima expedita sunt?
                        </p>
                        <cite><strong>Jon </strong></cite>
                    </div>
                </div>
            </div>
    
            <div class="col-sm12 col-md-6 text-center">
                  <div class="card">
                      <div class="card-body">
                          <p class="mt-5">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta est laudantium quidem adipisci reiciendis sed minima expedita sunt?
                          </p>
                          <cite><strong>Juana</strong></cite>
                      </div>
                  </div>
              </div>
        </div>
    </div>
    </section>
    
    <!---->
            <div class="container-fluid">
                    <div class="  text-center">
                        <h1 class="Seccion-encabezado text-center">GRACIAS!
                            <b>Por elegir nuestra página</b>
                        </h1>
                        <p class="Contacto-textoBajada">
                            Disfruta un poco más de la vida, 
                            y que mejor que hacerlo mediante la realización de algunas de nuestras actividades favoritas.
                        </p>
                     
                </div>
            </div>

    <!--FIN TEXTO-->
</div>  


{% endblock%}
