 {% extends "plantilla_base.html" %} <!--Para que herede del padre-->


 {% block content%}  <!--contenido del hijo variable-->
 <main class="main"> 

<video controls autoplay loop class="contenedor_video"> <!--se reproduce a penas entras-->
    <source src="\static\imagenes\videoAle.mp4" type="video/mp4" width="140%"  heigth ="70px" >
    <source src="\static\imagenes\videoAle.ogv" type="video/ogg" width="140%" heigth ="70px" >
</video>
<!---Carrucel automatico de imagenes --> 
<div class="texto_agradecimiento">
  
  <p class="" >
     GRACIAS!
      <b>Por elegir nuestra página</b>
       
    Disfruta un poco más de la vida, 
    y que mejor que hacerlo mediante la realización de algunas de nuestras actividades favoritas.
  </p>
</div> 
<!--INFORMACION: OBJETIVO,ETC-->
<div class="quienes_somos">
 
         <br><h2 class="texto_titulo_actividad">QUIENES SOMOS</h2> 
            <p class="Nosotros_texto">Somos ALE, y nacimos en el 2021 como un sitio web, que apunta a diferenciarse en  
                crear un vínculo entre las personas y los establecimientos que brindan servicios de actividades, deportes
                 no convencionales, obteniendo como resultado la promocion de dichas actividades y deportes como asi 
                 tambien el bienestar fisico y mental de aquellas personas que realizaran las mismas.
                De a poco, con el paso del tiempo, vamos a ir sumando nuevas funciones y servicios y esperamos poder 
                traer novedades para uds en todo el año.
                Los invitamos a que recorran nuestra pagina y se sumen a esta movida..</p>
    
</div>
 
    <!--INICIO SECTION DE IMAGENES-->
<section id="cajas_inicio">
  <figure class="contenedor_caja_inicio">
    <div class="caja">
      <img src="\static\imagenes\mision.png">    
      <p> “ Mediante las nuevas tecnologías  ser  el  vínculo de información constante 
        entre las personas y las actividades frecuentemente no convencionales 
        (como disciplinas de artes marciales, tenis, padel, yoga, etc)  que promueven el bienestar 
        tanto  físico como  mental”

      </p>
    </div>
    <div class="caja">
      <img src="\static\imagenes\vision.png">
      <p>“Se espera que el sitio tenga más funcionalidades, para atisfacer la necesidad 
        no solo de información, poder crear eventos más solicitados en regiones mas demandadas. ” 

      </p>
    </div>
    <div class="caja">
      <img src="\static\imagenes\valores.png">
      <p>“Compromiso con la salud. 
        Mitigar los prejuicios de realizar actividades no convencionales. 
        Respeto. ”

      </p>
    </div>

  </figure>
</section>
   <!--
    Testimonios 
     <h1 class="text-center mt-5">Testimonios</h1>
     <section id="testimonios">
           <div class="carta_testimonio">
               <p class="texto_testimonio">
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta est laudantium quidem adipisci reiciendis sed minima expedita sunt?
               </p>
               <cite><strong>Jon </strong></cite>
           </div>    
           <div class="carta_testimonio">
               <p class="texto_testimonio">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta est laudantium quidem adipisci reiciendis sed minima expedita sunt?
               </p>
              <cite><strong>Juana</strong></cite>
          </div>
     </section>
   -->
    
    <!--TEXTO de agradecimiento-->
     
      
</main> 

<script src="main.js"></script>
     
{% endblock%}
