{% extends "baseAdmin.html" %} <!--Para que herede del padre-->


 {% block content%}  <!--contenido del hijo variable-->
 <p><h1>Ingresa los datos para Agregar donde se practica la Actividad: </h1></p>
 <form action="#" method="POST"  id="Formulario_Contacto">
    {% csrf_token%} 
    <div class="caja_contacto">
        <label for="name">ID del lugar: </label>
        <input type="text" name="id_lugar" class="control_lugar" id="name" required>
    </div>
  <div class="caja_contacto">
      <label for="name">Nombre del lugar: </label>
      <input type="text" name="nombre" class="control_lugar" id="name" required>
  </div>
  <div class="caja_contacto">
      <label for="name">Localidad</label>
      <input type="text" name="localidad" class="control_lugar"  id="localidad" required>
  </div>
  <div class="caja_contacto">
      <label for="name">Direccion</label>
      <input  type=" "  name="direccion" class="control_lugar" id="direccion"  required>
  </div>
  <div class="caja_contacto">
    <label for="name">Telefono: </label>
    <input  type=" "  name="telefono" class="control_lugar" id="telefono"  required>
   </div>
    </div>
    <div class="text-center"><button  class="boton_contacto"  type="submit">Enviar Mensaje </button></div>
 </form>

 {% endblock%}