{% extends "plantilla_base.html" %} <!--Para que herede del padre-->


 {% block content%}  <!--contenido del hijo variable-->
 
  <h2 class="titulo">YOGA</h2>
  
 <!--Carrucel de imagenes con boton-->
 <div class="yoga_responsive"> 
 <div class="carrusel">
   <ul class="carrusel-fotos">
     <li id="foto1"><img src="\static\imagenes\yoga1.png" alt=""></li>
     <li id="foto2"><img src="\static\imagenes\yoga2.png" alt=""></li>
     <li id="foto3"><img src="\static\imagenes\yoga3.jpg" alt=""></li>
     <li id="foto4"><img src="\static\imagenes\yoga4.jpg" alt=""></li>
     <li id="foto5"><img src="\static\imagenes\yoga1.png" alt=""></li>
     <li id="foto6"><img src="\static\imagenes\yoga2.png" alt=""></li>
   </ul>
   <ul class="carrusel-menu">
     <li><a href="#foto1"><img src="\static\imagenes\yoga1.png" alt=""></a></li>
     <li><a href="#foto2"><img src="\static\imagenes\yoga2.png" alt=""></a></li>
     <li><a href="#foto3"><img src="\static\imagenes\yoga3.jpg" alt=""></a></li>
     <li><a href="#foto4"><img src="\static\imagenes\yoga4.jpg" alt=""></a></li>
     <li><a href="#foto5"><img src="\static\imagenes\yoga1.png" alt=""></a></li>
     <li><a href="#foto6"><img src="\static\imagenes\yoga2.png" alt=""></a></li>
   </ul>
 </div>
 
   <div class="contenido_textos">
          <h3 class="texto_titulo_actividad"> 1-  ¿Que es el YOGA?</h3>
          <p>El yoga una disciplina tradicional espiritual, física y mental que se originó en la India. El yoga es una de las seis doctrinas ortodoxas del hinduismo. Enfatiza la meditación y la liberación, y su texto principal es el Yoga sutra (400 d.C.) La palabra se asocia con prácticas de meditación en el hinduismo, el budismo y el jainismo.
            .</p>
          <h3 class="texto_titulo_actividad"> 2- Requisitos</h3>
          <ul >
            <li> Pantalones holgados.</li>
          <li>Mallas ajustadas.</li>
          <li>Calcetines antideslizantes.</li>
          <li>Correas para Yoga.</li>
          <li>Bloques de Yoga.</li>
          <li>Cojín de meditación.</li>
          </ul>
          
          <h3 class="texto_titulo_actividad"> 3- Edad recomendada</h3>
          <p>Se puede realizar esta actividad desde los 3 años de edad</p>
      </div>
 </div>



 <!--Seccion para la lista de lugares donde se da eso-->  
 <table >
  <h3 class="texto_titulo_actividad">LISTA DE Yoga</h3>
  <tr class="color_fila" >
 
   <th  >Nombre</th>
   <th  >Localidad</th>
   <th  >Direccion</th>
   <th  >Nombre Club</th>
   <th  >Telefono</th>
   </tr>   
 {% if lista_ACTIVIDAD %}  <!--lista_ACTIVIDAD-->
   {% for Actividad in lista_ACTIVIDAD %} <!-- lista_ACTIVIDAD -->
     <tr  class="color_contenido_tabla">  
     <td> {{Actividad.list_actividad}} </td>
     <td> {{Actividad.list_localidad}} </td>
     <td> {{Actividad.direccion_club}} </td>
     <td> {{Actividad.nombre_club}} </td>
     <td>  {{Actividad.telefono}}
       <a href="https://api.whatsapp.com/send?phone={{Actividad.telefono}}&text=Hola,%20necesito%20mas%20informacion%20acerca%20de%20esta%20actividad%20publicada%20en%20ALE." class="float" target="_blank">
         <i class="fa fa-whatsapp my-float"></i>
         </a>
     </td>      
   </tr>
   {% endfor %}
 {% else %}
   <p>No hay actividad yoga  cargado...</p>
 {% endif %} 
</table>

 
{% endblock%}